@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v7/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymuFpi5ww.ttf) format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v7/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymuFpm5ww.ttf) format('truetype');
}
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v7/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymuv565ww.ttf) format('truetype');
}
.app {
  background: #F9FBFD;
  height: 100vh;
  width: 100vw;
  font-family: 'Public Sans', san-serif;
}
.headerDiv {
  width: 100vw;
  height: 8vh;
  background: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border: 1px solid #F2F2F2;
  margin-bottom: 2.5rem;
}
.headerDiv h1 {
  text-transform: uppercase;
  font-weight: 100;
}
.headerDiv .headerRed {
  color: red;
  font-weight: 900;
}
.card {
  width: 80%;
  height: 7rem;
  margin: 1.5rem auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: white;
  border-radius: 16px;
  box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.055);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-weight: 400;
}
.card .cardTitle {
  border-bottom: 1px solid #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}
.card .cardOptions {
  color: #00A3FF;
  width: 115px;
  display: flex;
  justify-content: space-between;
}
.card .cardBody {
  margin-top: 0.75rem;
}
.card .cardBody p {
  margin: 0;
}
button {
  background: none;
  border: none;
}
.sideDrawer {
  width: 35vw;
  height: 100vh;
  background: white;
  border-radius: 16px 0 0 0;
  box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.055);
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 7.5vh;
  right: 0px;
}
.sideDrawer .open {
  right: 10vw;
  transition: cubic-bezier(1, 0, 0, 1) all 0.5s;
}
.sideDrawer .ant-tabs {
  width: 100%;
}
.sideDrawer .ant-tabs-nav-list {
  width: 100%;
}
.sideDrawer .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
.sideDrawer .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap,
.sideDrawer .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list,
.sideDrawer .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-list {
  justify-content: center;
  width: 100%;
}
.sideDrawer .ant-tabs-tab,
.sideDrawer .ant-tabs-tab-active,
.sideDrawer .ant-tabs-nav-list {
  justify-content: center;
  width: 100%;
}
.sideDrawer .ant-tabs-content-holder {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
label input,
label textarea {
  border: 1px solid #E0E0E0;
}
.styleForm h3 {
  color: #00A3FF;
}
.styleForm .formFieldSet {
  margin-top: 1rem;
  border-bottom: 1px solid #F2F2F2;
}
.styleForm .formFlex {
  width: 80%;
  display: flex;
}
.styleForm .formFlex input {
  width: 90%;
  height: 40px;
}
.styleForm .formFlex label {
  margin-bottom: 1rem;
}
.styleForm .blockPicker1,
.styleForm .blockPicker2,
.styleForm .blockPicker3 {
  right: 4rem;
}
.styleForm .blockPicker1 {
  top: 3.5rem;
}
.styleForm .blockPicker2 {
  top: 3.5rem;
}
.styleForm .blockPicker3 {
  top: 3.5rem;
}
/*# sourceMappingURL=App.css.map */