
// import font
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;900&display=swap');

.app {
    background: #F9FBFD;
    height: 100vh;
    width: 100vw;
    font-family: 'Public Sans', san-serif;
}

.headerDiv {
    width: 100vw;
    height: 8vh;
    background: white;
    display:flex;
    align-items: center;
    padding-left:1rem;
    border: 1px solid #F2F2F2;
    margin-bottom: 2.5rem;

    h1 {
        text-transform: uppercase;
        font-weight: 100;
    }

    .headerRed {
        color:red;
        font-weight:900;
    }
}


.card {
    width:80%;
    margin: 1.5rem auto;
    padding:0 1rem 0.5rem 1rem;
    background: white;
    border-radius: 16px;
    box-shadow: 1px 1px 24px 4px rgba(0, 0, 0, 0.055);
    flex-direction: column;
    align-items: flex-start;
    font-weight: 400;
    

    .cardTitle {
        border-bottom: 1px solid #f2f2f2;
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
    }

    .cardOptions {
        color: #00A3FF;
        width: 10%;
        display:flex;
        justify-content: space-between;
    }
}
